@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.max-vw-full {
  max-width: 100vw;
}

.responsive-result {
  max-height: 10vh;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e2e2e2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #867396;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #63546e;
}

/* Scrollbar for Figures : */

figure::-webkit-scrollbar-track {
  background: #dbdbdb;
}

figure::-webkit-scrollbar-thumb {
  background: #a7a7a7;
}

@screen lg {
  .responsive-result {
    max-height: 40vh;
  }
}

@screen md {
  .responsive-result {
    max-height: 30vh;
  }
}